.login{
  background-image: url("../images/kgpimage.jpg");
  background-size: 100%;
  backdrop-filter: blur(3px);

  /* background-blend-mode: color; */
  background-attachment: fixed;
  background-repeat: no-repeat;

  /* filter: blur(2px); */
  /* -webkit-filter: blur(2px); */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
