@font-face {
  font-family: "Koulen";
  src: url("https://fonts.google.com/specimen/Koulen") format("truetype");
}
.number {
  font-family: Koulen;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 250px;
}

.boxes-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

h2 {
  margin: 0;
  /* font-family: Inter; */
  font-size: 30px;
}

.topbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.topbar ul li {
  display: flex;
  align-items: center;
}

.topbar ul li:last-child {
  margin-left: auto;
}

.topbar ul li .icon {
  width: 20px;
  margin-right: 10px;
}

.topbar ul li a {
  color: #000;
  text-decoration: none;
  display: block;
  margin-top: 0;
}
.line {
  width: 85%;
  border-bottom: 1px solid #776e6e;
  margin-bottom: 5px;
}
.box {
  width: 30%;
  height: auto;
  background-color: #efeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 15px;
  margin-bottom: 0;
  margin-top: 10px;
}

.box-text {
  font-size: 17px;
}
p {
  margin: 0;
}
.list-container {
  width: 80%;
}

.list-container ul {
  list-style-type: none;
  padding: 0;
}

.list-container ul li {
  margin-bottom: 10px;
  background-color: #f0f0f0;
  padding: 10px;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #7369e2;
  padding-right: 40px;
  color:#e75c5c;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  /* color:#b42988 ; */
  /* background-color: #69e26f; */
  /* pointer-events: painted;   */
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
